body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  width: 850px;
  margin: 8% auto;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: wheat;
  text-align: center;
 margin-top: -120px;
}
table {
  border-collapse: collapse;
  width: 850px;
  margin: 0 auto;
  margin-top: -40px;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}
.btnDelete{
  width:70px;
  padding: 10px;
  background: firebrick;
  border: none;
  cursor: pointer;
}
.btnEdit{
  cursor: pointer;
  border: none;
  width:70px;
  padding: 10px;
  background: rgb(4, 87, 97);
}
.btnDelete:hover,.btnEdit:hover{
  background: gainsboro;
}