body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form_add{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: gainsboro;
  box-sizing: border-box;
}
form{
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
  width: 100%;
  padding: 10px 0px 10px 0;
  margin-top: 10px;
  border-radius: 10px;
  border:1px solid gainsboro;
  outline: none;
}
table{
  width: 550px;
  border-collapse: collapse;
 
}
td{
  text-align: center;
  font-size: 24px;
  padding: 14px;
  
}
td:hover{
  background: rgba(220, 220, 220, 0.091);
}
tr{
  color: red;
  background-color: white;
}
tr:nth-child(even){
  color: red;
}


tr:nth-child(even){
  background-color: rgb(10, 6, 6);
}
/* tr:last-child{
  background-color: blueviolet;
} */
label{
  font-size: 24px;
  font-weight: bold;

}
button{
  margin-left: 35%;
  padding: 10px 0 10px 0;
  margin-top:10px ;
  width: 120px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(33, 142, 182);
}
button:hover{
  background-color: black;
}
::placeholder{
  color: red;
  padding-left: 5px;
}
@media screen and (max-width:768px) {
  table{
    width: 400px;
  }
  td{
    font-size: 16px;
    padding: 10px;
  }
  .fa{
    padding: 10px;
  }
  
}