.App {
  text-align: center;
}

.box{
  width: 450px;
  margin: 8% auto;
  background-color: gainsboro;
  -webkit-box-shadow: -1px 1px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 28px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 28px -12px rgba(0,0,0,0.75);
  border-radius: 10px;
}
.ul{

list-style: none;
text-align: center;
box-sizing: border-box;

}
.ul li{
  text-align: center;
  padding: 10px;
  margin-right: 30px;
  border: 1px solid black;
 
}
.form{
  width: 350px;
  margin: 0 auto;
  text-align: center;
}
.form input{
  margin-top: 30px;
  
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  width: 100%;
  
  border: gray;
}
input::placeholder{
  color: red;
}
.button{
  margin-top: 10px;
  width: 120px;
  padding: 10px;
  background-color: rgb(0, 255, 221);
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: gray;  
}
.fa{
  margin: 10px ;
  padding: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
